@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", serif;
}

body {
    background-color: #1A2E4F;
}

.lh-50 {
    line-height: 60px;
}

.bg-glass {
    background: linear-gradient(90deg, #5a7389, #51a8b3);
    border-radius: 12px;
}

.gradient-border {
    background: linear-gradient(90deg, #1A2E4F, #ffffff);
    padding: 1px;
    border-radius: 12px;
}

.story-item {
    background: linear-gradient(90deg, #1a3a5c, #322961);
}

@media screen and (max-width: 768px) {
    .max-w-7xl {
        padding: 0 20px;
    }

    .about-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .stats-item .number {
        width: 50px;
        font-size: 45px;
        max-width: 50px;
    }

    .menu.w-full {
        position: fixed;
        background: #242d57;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 20px;
    }

    .menu.w-full .flex-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 30px;
    }

    .max-w-7xl.mx-auto.px-3.py-24 {
        padding: 40px 20px;
    }
}