@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", serif;
}

body,
html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A2E4F;
}

.lh-50 {
    line-height: 60px;
}

.bg-glass {
    background: linear-gradient(90deg, #5a7389, #51a8b3);
    border-radius: 12px;
}

.gradient-border {
    background: linear-gradient(90deg, #1A2E4F, #ffffff);
    padding: 1px;
    border-radius: 12px;
}

.story-item {
    background: linear-gradient(90deg, #1a3a5c, #322961);
}

.menu a.active {
    color: #5CF4FF;
    font-weight: bold;
}

.nav-holder {
    transition: 0.4s;
}

.nav-holder.floating {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background: #1B2E4E;
    border-bottom: 1px solid white;
    transition: 0.4s;
    padding: 20px 0;
}

span.overlay-img {
    display: block;
    position: absolute;
    background: #ffffff87;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    backdrop-filter: blur(10px);
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0;
    transition: 0.5s;
}

span.overlay-img:hover {
    opacity: 1;
}

.active-section {
    font-weight: bold;
    color: #48F8FF;
}

@media screen and (max-width: 768px) {
    .max-w-7xl {
        padding: 0 20px;
    }

    .about-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .stats-item .number {
        width: 50px;
        font-size: 45px;
        max-width: 50px;
    }

    .menu.w-full {
        position: fixed;
        background: #242d57;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 20px;
    }

    .menu.w-full .flex-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 30px;
    }

    .max-w-7xl.mx-auto.px-3.py-24 {
        padding: 40px 20px;
    }

    .nav-holder.floating {
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
        background: #1B2E4E;
        border-bottom: 1px solid white;
        transition: 0.4s;
        padding: 20px 0;
    }
}